<!-- insert HTML in body main__content section -->
<div id="attentiveTransactionalOptIn" class="fieldset-description" data-buyer-accepts-transactional-attentive="" aria-label="Phone Sign Up">
  <div class="section__content section__content__attentive">
      <div class="checkbox-wrapper">
          <div class="checkbox__input">
              <input name="attributes[buyer_accepts_transactional_attentive]" type="hidden" value="0">
              <input class="input-checkbox" data-backup="buyer_accepts_transactional" type="checkbox" value="1" name="attributes[buyer_accepts_transactional_attentive]" id="checkout_buyer_accepts_transactional_attentive" aria-labelledby="headers" tabindex="0" focusable="true" checked>
          </div>
          <div class="checkbox__label checkbox__label__attentive">
              <span id="headers" tabindex="0" focusable="true">
                  <div class="checkbox__label__attentive__header">Get SMS alerts about your order</div>
                  <div class="checkbox__label__attentive__subheader">Stay informed on your purchase with order confirmation, shipping confirmation, and product information messages</div>
              </span>
          </div>
      </div>
  </div>
</div>
