<script>
  var tagsToShow = '{{ settings.collections_show_tags | replace: ' ', '' | strip | strip_newlines | downcase }}'.split(',');
  var isp_related_options = {
      LAZYLOAD: 'progressive'
  };
  var __isp_options = {
      isp_serp_with_product_attributes: 1,
      isp_smart_nav_avoid_collection_in_product_url: 1,
      isp_serp_raty_reviews_option: {
          starType: 'i', // Font-based stars (instead of images)
          starHalf: 'stamped-fa fa-star-half-o',
          starOff: 'stamped-fa stamped-fa-star-o',
          starOn: 'stamped-fa stamped-fa-star'
      },
      isp_serp_callback: function(data, facets_only) {
        
       
          // Updating product prices.
          $jquery_isp('.isp_grid_product').each( function (index) {
              var $product = $jquery_isp(this);
              var id = $product.attr('product_id');
              var product = ISP_PRODUCTS[ id ]; 
              const $gridItem = $jquery_isp(`.isp_grid_product[product_id="${id}"]`); 

      // set badges
      Badges.create(product, $gridItem); 
            
            
              // REplace default Add to cart 
              AddToCart.create(product, $jquery_isp(this));
            
            

              if (( parseFloat(product.p) < parseFloat(product.p_c) ) || ( parseFloat(product.p) < parseFloat(product.p_min_c) )) {
                  var $wrapper = $product.find('.isp_product_price_wrapper');
                  
                
                  $wrapper.closest('.isp_grid_product').addClass('isp_badge isp_badge_sale ');
              }
              // Enable lazy loading
              var prod_img = $product.find('.isp_product_image');
              prod_img.addClass('lazyload');
              prod_img.attr('loading', 'lazy');
              prod_img.attr('data-src', prod_img.attr('src'));
              prod_img.removeAttr('src');
          });

          // Updating Facets behaviors.
          $jquery_isp('.isp_facet_title').each( function () {
            if(!this.classList.contains("custom-collapse")){
              ispFacetSlider(this);
              this.classList.add("custom-collapse");
            }
            if( $jquery_isp(this).attr('title') == "Deals") {
              $jquery_isp(this).trigger('click');
            }
          });

          $jquery_isp('.isp_single_facet_wrapper').addClass('visible');
          $jquery_isp('#isp_left_container_header h3').remove();
          $jquery_isp('#isp_left_container_header').append('<h3>Filter</h3>');
          
        const deals = $jquery_isp("#single_facet_deals");

      },

      isp_add_to_cart_callback: function(product_id, form_id) {
          $jquery_isp.get('/cart.js', function(cart) {
              refreshCart( cart );

              if($jquery_isp('#header').is(':visible')) {
                $jquery_isp('#header .cart_container').addClass('active_link');
              } else if ($jquery_isp('.sticky_nav--stick').length) {
                $jquery_isp('.sticky_nav .cart_container').addClass('active_link');
              } else {
                $jquery_isp('.top_bar .cart_container, .header__cart .cart_container').addClass('active_link');
              }

              $jquery_isp('body').css('cursor', 'default');
              $jquery_isp('#isp_product_quick_view_overlay').remove();
              $jquery_isp('#isp_product_quick_view_model').remove();
              $jquery_isp('body').trigger('cartUpdated');
          }, 'json');
      },

      isp_serp_quickview_callback: function () {
          var text = $jquery_isp('.isp_quick_view_product_sellable_status').text();

          if ( text == 'In Stock' ) {
              $jquery_isp('.isp_quick_view_product_sellable_status').css('color', '#007bb6');
          }
      }
  }


function getFirstVariantID(product) {
  return product.vra && product.vra.length > 0 ? product.vra[0][0] : product.id;
}

const AddToCart = {
  create: (product, $gridItem) => {
    if($gridItem.find('.isp-product-add-to-cart-wrap').length === 0) {
      const type = 'single';
      const isFrom = AddToCart.checkFrom($gridItem);
      AddToCart.setAddToCart(product, $gridItem, "ADD TO CART", isFrom);
    }
  },
  
  checkFrom: ($gridItem) => {
    return $gridItem.find(".isp_product_price_wrapper").text()?.includes("from");
  },
  
  removePrice: ($gridItem) => {
    $gridItem.find(".isp_product_price_wrapper").remove();
  },
  
  setSoldOut: ($gridItem) => {
    const HTML = `<div class="isp-product-add-to-cart-wrap"><button class="isp-product-add-to-cart sold-out">SOLD OUT</button></div>`;
    
    if ($gridItem.find(".isp_add_to_cart_form").length === 0) {
      $gridItem.find(".isp_product_info").after(HTML)
    } else {
      $gridItem.find(".isp_add_to_cart_form").replaceWith(HTML)
    }

  },
  
  setAddToCart: (product, $gridItem, text, useFrom) => {
          
    const HTML = `
    <div class="isp-product-add-to-cart-wrap">
      <a class="isp-product-add-to-cart button" href="#">
      ${text}
      </a>
    </div>`;
    
    if ($gridItem.find(".isp_add_to_cart_form").length === 0) {
     $gridItem.find(".isp_product_info").after(HTML)
    } else {
     $gridItem.find(".isp_add_to_cart_form").replaceWith(HTML)
    }
    
    $gridItem.find(".isp-product-add-to-cart").click(function (e) {
      e.preventDefault();
      AddToCart.addToCartAjax(product, $gridItem.attr("position"));
    });
  },
  
  
  addToCartAjax: (product, product_position) => {
    const data = {
      id: getFirstVariantID(product)
    };
    
    try {
      localStorage.setItem('isp_add_to_cart_serp_product_id', product.id);
      ispStoreProductPosition(product.id);
    } catch (e) {
    }
    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data,
        dataType: 'json',
        cache: false,
        product_id: product.id,
        form_id: `form_${product.id}`,
        is_quick_view: false
    }).done(function (data) {
      __isp_options.isp_add_to_cart_callback(this.product_id, true);
    }).fail(function (jqXHR, textStatus) {
      console.log("error jqXHR: " + jqXHR + " | textStatus: " + textStatus);
    }).always(function () {
      $jquery_isp('#' + this.form_id).removeClass('isp_add_to_cart_disable');
    });
  
  }
  };
  
  
  
  const TAG_FACET_NAME = "Tag";
  const TAG_BOO_GO = "BOO GO";
  const TAG_BFCM50 = "BFCM50";
  const TAG_BFCM40 = "BFCM40";
  const TAG_BFCM30 = "BFCM30";
  const TAG_BFCMHOTDEAL = "BFCMHOTDEAL";

  const Badges = {

  create: (product, $gridItem) => {
    if ($gridItem.hasClass("inventory")) return;

    $gridItem.addClass("inventory");
    Badges.set(product, $gridItem);
  },

  set: (product, $gridItem) => {
    if($gridItem.find(".isp-custom-badge").length > 0) return;

    const tags = Badges.getProductTags(product);     

    if(Badges.isBOO_GO(tags)){
        $gridItem.prepend(`<span class="isp-custom-badge boo_go"></span>`);
    } 
    if(Badges.isBFCM50(tags)){
        $gridItem.prepend(`<span class="isp-custom-badge bcfm50"></span>`);
    } 
    if(Badges.isBFCM40(tags)){
        $gridItem.prepend(`<span class="isp-custom-badge bcfm40"></span>`);
    } 
    if(Badges.isBFCM30(tags)){
        $gridItem.prepend(`<span class="isp-custom-badge bcfm30"></span>`);
    } 
    if(Badges.isBFCMHOTDEAL(tags)){
        $gridItem.prepend(`<span class="isp-custom-badge bcfmhotdeal"></span>`);
    } 
  },

  getProductTags: (product) => {
    const tags = product.att.find(x => x[0] === TAG_FACET_NAME);
    return tags ? tags[1] : [];
  },

  isBOO_GO: (tags) => {
    return tags.includes(TAG_BOO_GO);
  },

  isBFCM50: (tags) => {
    return tags.includes(TAG_BFCM50);
  },
    
  isBFCM40: (tags) => {
    return tags.includes(TAG_BFCM40);
  },
    
  isBFCM30: (tags) => {
    return tags.includes(TAG_BFCM30);
  },
    
  isBFCMHOTDEAL: (tags) => {
    return tags.includes(TAG_BFCMHOTDEAL);
  },

  };

</script>
<style>
/* Badges */
.isp-custom-badge {
display: flex;
position: absolute; 
font-weight: 400;
font-style: normal;
z-index: 1;
top: 10px;
left: 90px;
min-width: 20vw;
height: 60px;
margin: 0 0 0 0;
align-items: center;
justify-content: center;
}

.isp-custom-badge.boo_go {
background: url(https://cdn.shopify.com/s/files/1/0302/2438/4137/files/BOO_GO_Square.png?v=1633637690) no-repeat !important;
}

.isp-custom-badge.bcfm50{
background: url(https://cdn.shopify.com/s/files/1/0302/2438/4137/files/50OFF-60X60.jpg?v=1637328293) no-repeat !important;
} 

.isp-custom-badge.bcfm40{
background: url(https://cdn.shopify.com/s/files/1/0302/2438/4137/files/40OFF-60X60.jpg?v=1637328411) no-repeat !important;
} 

.isp-custom-badge.bcfm30{
background: url(https://cdn.shopify.com/s/files/1/0302/2438/4137/files/30OFF-60X60.jpg?v=1637328501) no-repeat !important;
}   

.isp-custom-badge.bcfmhotdeal {
background: url(https://cdn.shopify.com/s/files/1/0302/2438/4137/files/HOTDEAL-60X60.jpg?v=1637328546) no-repeat !important;
} 
</style>