<div class="points-balance">
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12">
            <path fill="#3369B1" d="M12.975 4.554c-.052-.156-.191-.269-.358-.292l-3.948-.557L6.899.242C6.823.094 6.668 0 6.498 0c-.169 0-.324.094-.398.242l-1.77 3.463-3.948.557c-.168.022-.308.135-.361.291-.053.156-.009.328.113.442l2.86 2.696-.665 3.81c-.025.158.043.317.176.411.133.095.31.11.457.04l3.541-1.797 3.541 1.796c.149.076.329.063.465-.032.136-.096.204-.257.177-.418l-.673-3.81 2.86-2.696c.117-.116.157-.288.101-.441z"/>
        </svg>
        Your Points Balance
    </span>
    <span class="sweettooth-points-balance points"></span>
</div>
