<div class="container product-specs">
    {%- if product.metafields['Product Specs'].size > 0 or product.metafields['Nutrition Facts'].size > 0 -%}
        <div class="sixteen columns alpha omega">
            {%- if product.metafields['Nutrition Facts'].size > 0 -%}
                <div class="eight columns medium-down--one-whole product-specs__module">
                    <h4>Nutrition Facts:</h4>
                    <table class="product-specs__table">
                        <tbody>
                            {%- for meta in product.metafields['Nutrition Facts'] -%}
                                <tr>
                                    <td>{{ meta | first | strip }}</td><td class="text-right">{{ meta | last | strip }}</td>
                                </tr>
                            {%- endfor -%}
                        </tbody>
                    </table>
                </div>
            {%- endif -%}


            {%- if product.metafields['Product Specs'].size > 0 -%}
                <div class="eight columns medium-down--one-whole product-specs__module">
                    <h4>Product Specifications:</h4>
                    <table class="product-specs__table">
                        <tbody>
                            {%- for meta in product.metafields['Product Specs'] -%}
                                <tr>
                                    <td>{{ meta | first | strip }}</td><td class="text-right">{{ meta | last | strip }}</td>
                                </tr>
                            {%- endfor -%}
                        </tbody>
                    </table>
                </div>
            {%- endif -%}
        </div>
    {%- endif -%}
</div>
