<div class="product-autoship">
    <h3 class="product-autoship__title">
        <img src="{{ 'product-autoship-icon.svg' | asset_url }}">
        Auto Ship Discounts
    </h3>
    <div class="product-autoship__content">
        <div class="product-autoship__item">
            <p class="product-autoship__item__title">First Order</p>
            <p class="product-autoship__item__value">20% OFF</p>
        </div>
        <div class="product-autoship__item">
            <p class="product-autoship__item__title">Second + Order: </p>
            <p class="product-autoship__item__value">10% Off + Free Shipping Over $79+</p>
        </div>
    </div>
</div>
