{% if product.tags contains 'delayshipping' or product.metafields.delayshipping.message != blank %}
    <div class="shipping-delay {{ class_name }}">
      {% if product.metafields.delayshipping.message != blank %}
        {{product.metafields.delayshipping.message}}
      {% else %}
        {{ shop.metafields.delayshipping.message }}
      {% endif %}
    </div>
{% endif %}