{% if product.tags contains 'delayshipping' or product.metafields.delayshipping.message != blank %}
    <div class="shipping-delay {{ class_name }}">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="43px" height="43px" viewBox="0 0 43 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>noun_Alert_447102</title>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="alert-1" transform="translate(-1545.000000, -1101.000000)" fill="#000000" fill-rule="nonzero">
                  <g id="noun_Alert_447102" transform="translate(1545.000000, 1101.000000)">
                      <path d="M21.5,26.7410211 C23.0584105,26.7410211 24.3217053,28.0047684 24.3217053,29.5627263 C24.3217053,31.1206842 23.0584105,32.3844316 21.5,32.3844316 C19.9420421,32.3844316 18.6782947,31.1206842 18.6782947,29.5627263 C18.6782947,28.0047684 19.9420421,26.7410211 21.5,26.7410211 M23.7844316,24.1877263 L19.2155684,24.1877263 L19.2155684,10.6155684 L23.7844316,10.6155684 L23.7844316,24.1877263 L23.7844316,24.1877263 Z M21.5,3.49431579 C26.3372737,3.49431579 30.7712526,5.375 34.2655684,8.73488421 C37.625,12.0943158 39.5061368,16.6627263 39.5061368,21.5004526 C39.5061368,26.3377263 37.625,30.7717053 34.2655684,34.2660211 C30.9065895,37.625 26.3372737,39.5065895 21.5,39.5065895 C16.6627263,39.5065895 12.2282947,37.625 8.73443158,34.2660211 C5.37545263,30.7717053 3.49386316,26.3372737 3.49386316,21.5004526 C3.49386316,16.6627263 5.37545263,12.2282947 8.73443158,8.73488421 C12.2282947,5.375 16.6627263,3.49431579 21.5,3.49431579 M21.5,0 C9.675,0 0,9.67545263 0,21.5004526 C0,33.325 9.675,43 21.5,43 C33.325,43 43,33.325 43,21.5004526 C43,9.67545263 33.325,0 21.5,0" id="Shape"></path>
                  </g>
              </g>
          </g>
      </svg>
      <p>
        {% if product.metafields.delayshipping.message != blank %}
          {{product.metafields.delayshipping.message}}
        {% else %}
          {{ shop.metafields.delayshipping.message }}
        {% endif %}
      </p>
    </div>
{% endif %}