.shipping-delay {
    padding: 15px 20px;
    border: 5px solid lightgray;
    color: black;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    max-width: 400px;
}

@media (max-width: 768px) {
    .shipping-delay {
        font-size: 14px;
        padding: 5px 10px;
        border-width: 3px;
    }
}

.shipping-delay.product-shipping-delay {
    margin-top: 20px;
}

.shipping-delay.cart-shipping-delay {
    margin-bottom: 20px;
}