.shipping-delay {
    padding: 15px 20px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background-color: rgb(155, 225, 247);
    border: none;
    display: flex;
    position: relative;
    padding-left: 50px;
}

.shipping-delay p {
    margin: 0px;
    line-height: 1.3;
}

.shipping-delay svg {
    width: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.shipping-delay.product-shipping-delay {
    margin-top: 20px;
}

.shipping-delay.cart-shipping-delay {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .isp_related_wrapper .slick-prev {
        left: -15px !important;
        z-index: 1 !important;
    }

    .isp_related_wrapper .slick-next {
        right: -15px !important;
        z-index: 1 !important;
    }    

    #header {
        top: 90px;
    }

    .dropdown_container {
        height: 100vh;
    }

    #pagecontent {
        padding: 0px !important;
    }
}

.announcement-bar__text a {
    text-decoration: underline;
}

.featured-collection-section .bottom-cta {
    text-align: center;
}

.inventory-message {
    margin-top: 30px;
    padding: 15px 20px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background-color: rgb(155, 225, 247);
    border: none;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.inventory-message p {
    margin-bottom: 0px;
}


@media (min-width: 799px) {
    .inventory-message-mobile {
        display: none !important;
    }
}

@media (max-width: 798px) {
    .inventory-message-desk {
        display: none !important;
    }

    .inventory-message {
        margin-top: 13px;
    }
}