{%- if customer -%}
{% assign salt = shop.metafields.bestbullysticks.shopify_auth_salt %}

<script type="text/javascript">
    window.customer_auth = {
        customer_id: {{ customer.id }},
        hash: '{{ customer.id | append: salt | md5 }}',
        base_uri: 'https://bestbully-integration.test/api/'
    }
</script>

<a name="pagecontent" id="pagecontent"></a>

<header class="account-header clearfix">
  <div class="eight columns account-header-title">
    <h1>My Dogs</h1>
  </div>
  <div class="eight columns account-header-logout">
      {%- if customer.metafields.bestbullysticks.dogs.size < 6 -%}
        <a href="#" data-dog-add>Add a New Dog</a>
        {%- include 'account-dog-modal'-%}
      {%- endif -%}
    <!-- <span><a href="{{ routes.account_logout_url }}" id="customer_logout_link">{{ 'layout.customer.log_out' | t }}</a></span> -->
  </div>
</header>
<div class="feature_divider"></div>


<div class="section clearfix">
  {%- include 'account-sidebar' -%}
  <main class="eleven columns account-main">
      <div class="account__dogs">
          {%- for dog in customer.metafields.bestbullysticks.dogs -%}
              {%- include 'account-dog' with dog: dog -%}
          {%- endfor -%}
      </div>
  </main>
</div>

{% comment %}
If the customer is not logged in, let's just send him to the login page.
{% endcomment %}
{%- else -%}
    <script>
        window.location.href = '/account';
    </script>
{%- endif -%}
